*{
    margin: 0;
    padding: 0;
}
body {
    width: 500px;
    height: 1300px;
    background: black;
}
.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.container span{
    text-transform: uppercase;
    display: block;
}

.n1 { 
    
    color: aliceblue;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 20px;
    background: #000;
    position: relative;
    animation: text 2s 1;

}

.n2 {
    color: cadetblue;
    font-size: 30px;

}

@keyframes text {
    0% {
        color: #000;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
}

.wrapper {
    height: 100vh;
    
}

.arrow {
    width: 50px;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 25%);
    animation: arrowDown 2s infinite;
    margin-left: 200px;
   
    
}
@keyframes arrowDown {
    0% {
        bottom: 30px;
    }
    50% {
        bottom: 0;
    }
    100% {
        bottom: 30px;
    }
}
.n3 {
    text-align: center;
    width: 500px;
    height: 250px;
  
    border: 2px solid rgb(0, 0, 0);
    margin-top: 730px;
    margin-left: 400px;
    border-radius: 20px 35px 20px 35px;

}
.n4 {
    width: 350px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 74px;
    margin-left: 480px;
}
.n5 {
    width: 350px;
    height: 250px;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    margin-top: 74px;
    margin-left: 480px;
}

.text {
    color: rgb(29, 115, 119);
    text-align: center;
    text-transform: uppercase;
}
@media screen and (max-widht: 576px) 